<!-- this file contains the code for the "home" page (this is where picture diplay should be -->

{% extends "base.jinja" %} 
{% block title %}Home{% endblock %} 

{% block content %}
<h1 align="center">This is the homepage</h1>
{% endblock %}
