<!-- this file contains the code for the "home" page (this is where picture diplay should be -->

{% extends "base.jinja" %} 
{% block title %}Home{% endblock %} 

{% block content %}
<!--  	
npm install jquery
npm install bootstrap
npm install lessc
-->

<!-- datepicker -->
{% block scripts %}
<script>
    $('.input-group.date').datepicker({
        format: "mm/dd/yyyy",
        todayBtn: "linked",
        clearBtn: true,
        autoclose: true,
        todayHighlight: true
    });
</script>
{% endblock %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</head>

<h1 align="center"> Astronomy Picture of the Day </h1>
<br>
  <body style="background-color: ivory;">
    <div class="input-group date" data-provide="datepicker" data-date-end-date="0d" data-date-start-date="01/01/2000">
        <form method="post" action = "/">
          <div class="form-row align-items-center">
            <div class="col-auto">
              <input type="text" name="dateInput" class="form-control" placeholder="Select Date">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
        <!-- might not work -->
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
  
    <!-- image display -->
    <br>
    <div class="text-center">
      <img src= {{data.hdurl}} class="rounded" style="height: 500px;" alt="Responsive image"/> 
    </div>
    <br>
    <b>Photographer </b> 
    <p>{{data.copyright}}</p>
    <b>Description </b> 
    <p>{{data.explanation}}</p>  
  </body>
{% endblock %}